Ecoders python notes

In [2]:
# literals  - types or varibles 

# 4 types of literals. 

print(3)

print(3.23)

print('a')

print("Hello world of ecoders")

print(True)

print(False)

3
3.23
a
Hello world of ecoders
True
False

In [4]:
a = 7
b = 2

print(a+b)

print(a-b)

print(a*b)

print(a**b)

print(a/b)

print(a//b)

print(a%b)

9
5
14
49
3.5
3
1

relational operators

In [5]:
a = 7 
b = 2
c = 7 

print(a<b)
print(a==b)
print(a == c )
print(a >= b)

False
False
True
True

#Conditional Statements

In [7]:
name = "rakshitha"

if(name == "rakshitha"):
    print("Access granted")
else:
    print("Access denied")

Access denied

# break and continue

In [8]:
# print first 10 natural numbers.

In [9]:
for i in range(1, 11):
    print(i, end =" ")

1 2 3 4 5 6 7 8 9 10

In [10]:
for i in range(10, 0, -1):
    print(i, end=", ")

10, 9, 8, 7, 6, 5, 4, 3, 2, 1,

In [11]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [12]:
for i in range(1,11):
    print(i*i*i)

1
8
27
64
125
216
343
512
729
1000

In [13]:
for i in range(1, 11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [14]:
for i in range(1,11):
    print(2*i-1)

1
3
5
7
9
11
13
15
17
19

In [15]:
# break statement.

In [17]:
for i in range(1,11):
    print(i, end =" ")
    if(i == 5):
        break

1 2 3 4 5

In [18]:
# continue statment.

In [21]:
for i in range(1,11):
    if(i==5):
        continue
    print(i, end = " ")

1 2 3 4 6 7 8 9 10

In [22]:
# multiplication table. 

num = 5
for i in range(1,11):
    print(str(num) + " * " + str(i) + " = " + str(num*i))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [23]:
num = 7 
for i in range(1, 11):
    print("{} * {} = {}".format(num, i, num*i))

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70